
* {
  padding: 0;
  margin:  0;
}

body {
  font-family: sans-serif;
  font-size:  1.5rem;
  background-color: #212128;
  color: white;
}

.header {
  text-align: center;
}

p {
  color:  #212128;
}

.answears {
  position: absolute;
  bottom: 0%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height:  50%;
  width:  100%;
}

.answear {
  cursor: pointer;
  width: 22%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  height: 80%;
  background-color: #E33E57;
}

.answear:hover {
  background-color: #cf384f;
}